<header>
  <div class="container">
    <a routerLink="/home" class="logo"> 🐝 Colmenares Rokefeli </a>

    <nav>
      <a routerLink="/catalogo" routerLinkActive="active" class="catalogo">Catálogo</a>

      <a routerLink="/carrito" routerLinkActive="active" class="cart-link">
        🛒 Carrito
        <span class="badge" *ngIf="cantidadItems$ | async as cantidad">
          {{ cantidad }}
        </span>
      </a>

      <button *ngIf="estoyLogueado()" (click)="logout()" class="btn-logout">Salir</button>
      <a *ngIf="!estoyLogueado()" routerLink="/login" class="btn-login">Ingresar</a>
    </nav>
  </div>
</header>
