<div class="overlay" (click)="cerrarModal()"></div>

<div class="modal">
  <h2>Nuevo Producto</h2>

  <form (ngSubmit)="enviar()">

    <label>Nombre</label>
    <input type="text" [(ngModel)]="nuevoProducto.nombre" name="nombre" required>

    <label>Descripción</label>
    <textarea [(ngModel)]="nuevoProducto.descripcion" name="descripcion" required></textarea>

    <label>Precio</label>
    <input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required>

    <label>Precio Interno</label>
    <input type="number" [(ngModel)]="nuevoProducto.precioInterno" name="precioInterno" required>

    <label>Stock Actual</label>
    <input type="number" [(ngModel)]="nuevoProducto.stockActual" name="stockActual" required>

    <label>Stock Mínimo</label>
    <input type="number" [(ngModel)]="nuevoProducto.stockMinimo" name="stockMinimo" required>

    <label>Imagen (URL)</label>
    <input type="text" [(ngModel)]="nuevoProducto.imagenUrl" name="imagenUrl" required>

    <label>Categoría</label>
    <input type="number" [(ngModel)]="nuevoProducto.idCategoria" name="categoria" required>

    <div class="buttons">
      <button type="button" class="cancel" (click)="cerrarModal()">Cancelar</button>
      <button type="submit" class="save">Guardar</button>
    </div>
  </form>
</div>