main {
  flex: 1; 
}
.hero {
  position: relative;
  width: 70%;
  margin: 0 auto;
  justify-content: center;   /* Centra horizontalmente */
  align-items: center;
}

.hero img {
  padding: 10px;
  width: 100%;
  border-radius: 20px;       /* Como en tu captura */
  display: block;
}

.hero-text {
  position: absolute;         /* Se coloca encima de la imagen */
  top: 50%;                   /* Ajusta según tu diseño */
  left: 5%;
  right: 5%;                  /* Impide que el texto se salga */
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  line-height: 1.2;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-text h2 {
  font-size: 1.8rem;
  margin-top: .5rem;
}

.hero-text p {
  font-size: 1.1rem;
  margin-top: 1rem;
}