<app-header></app-header>
<main>
    <div class="loginContainer">
        <div class="imgContainer"><img src="/img/PuntaSal.jpeg"></div>
        <div class="Formulario">
            <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">


    <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            El correo no es válido
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input 
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
        >
        <button type="button"
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)">
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            La contraseña es obligatoria
        </mat-error>
    </mat-form-field>
   <button mat-flat-button type="submit"[disabled]="loginForm.invalid">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</main>
<app-footer></app-footer>