<div class="checkout-container">

  <h2>Método de Pago</h2>

  <div *ngIf="cargando" style="text-align:center; padding:20px;">
    <p>Cargando resumen...</p>
  </div>

  <form [formGroup]="formPago" (ngSubmit)="confirmarPedido()" *ngIf="!cargando">

    <mat-radio-group formControlName="metodo" class="metodo-group">
      <mat-radio-button value="tarjeta">Tarjeta de Crédito/Débito</mat-radio-button>
    </mat-radio-group>

    <h3>Datos de la Tarjeta</h3>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Número de tarjeta</mat-label>
      <input matInput formControlName="numeroTarjeta" placeholder="1234567812345678">
      <mat-error *ngIf="formPago.get('numeroTarjeta')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
      <mat-error *ngIf="formPago.get('numeroTarjeta')?.hasError('pattern')">
        Deben ser 16 dígitos.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="campo">
      <mat-label>Nombre del titular</mat-label>
      <input matInput formControlName="titular" placeholder="JUAN PEREZ">
      <mat-error *ngIf="formPago.get('titular')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <div class="fila">
      <mat-form-field appearance="outline" class="campo mitad">
        <mat-label>Expiración</mat-label>
        <input matInput formControlName="expiracion" placeholder="MM/AA">
        <mat-error *ngIf="formPago.get('expiracion')?.hasError('required')">
          Obligatorio
        </mat-error>
        <mat-error *ngIf="formPago.get('expiracion')?.hasError('pattern')">
          Formato válido: MM/AA
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="campo mitad">
        <mat-label>CVV</mat-label>
        <input matInput formControlName="cvv" placeholder="123" type="password">
        <mat-error *ngIf="formPago.get('cvv')?.hasError('required')">
          Obligatorio
        </mat-error>
        <mat-error *ngIf="formPago.get('cvv')?.hasError('pattern')">
          Deben ser 3 dígitos
        </mat-error>
      </mat-form-field>
    </div>

    <h3>Resumen del Pedido</h3>

    <div *ngIf="carritoData?.detalles">
      <mat-card *ngFor="let item of carritoData.detalles" class="item-carrito">
        <mat-card-content style="display: flex; justify-content: space-between;">
          <div>
            <p><strong>{{ item.producto.nombre }}</strong></p>
            <p class="cant">Cant: {{ item.cantidad }}</p>
          </div>
          <p>S/ {{ item.precioUnitario | number:'1.2-2' }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="resumen-final">
        <p>Subtotal: S/ {{ totalPagar | number:'1.2-2' }}</p>
        <p>Envío: S/ 10.00</p>
        <h2 class="total">Total a Pagar: S/ {{ (totalPagar + 10) | number:'1.2-2' }}</h2>
    </div>

    <button mat-flat-button color="primary" type="submit" 
            [disabled]="formPago.invalid" 
            class="btn-confirmar">
      Pagar S/ {{ (totalPagar + 10) | number:'1.2-2' }}
    </button>

  </form>
</div>