nav{
  border-bottom: 3px solid black;
color:aliceblue;
display: flex;
gap: 4rem;
background-color: rgb(255, 255, 255);
padding: 15px 20px;
justify-content: center; 
align-items: center;
position: sticky;
  top: 0;
  z-index: 1000; 

}


.viajaFacilLogo1{
    width: 50%;
    height: 50%;
}
nav a{
  
    display: flex;
  flex-direction: column;  
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
    
}
nav a:hover{
text-decoration: underline;
}
