<nav>
  <a routerLink="/" class="ContenedorImagen">
    <img src="/img/ColmenaresRokefeli.jpg" class="viajaFacilLogo1">
  </a>

  <a routerLink="/panelAdmin">
    <img src="/img/productosIcono.png">
    <span>Panel Admin</span>
  </a>

  <a routerLink="/pedidos">
    <img src="/img/descuentoIcon.png">
    <span>Pedidos</span>
  </a>

  <a routerLink="/usuarios">
    <img src="/img/soporteIcon.png">
    <span>Lista de Usuarios</span>
  </a>

  <!-- Si NO está logueado -->
  <ng-container *ngIf="!usuario; else loggedIn">
    <button mat-flat-button routerLink="/login">Iniciar Sesión</button>
    <button mat-flat-button routerLink="/register">Registrarse</button>
  </ng-container>

  <!-- Si está logueado -->
  <ng-template #loggedIn>
    <span class="usuario-nombre">
      {{ usuario?.nombre || usuario?.sub }}
    </span>
    <button (click)="logout()">Cerrar Sesión</button>
  </ng-template>
</nav>