/* Aseguramos que html y body ocupen toda la altura */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

/* Forzamos que el contenedor de la app ocupe al menos el 100% de la altura */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hacemos que el contenido principal empuje el footer hacia abajo */
main {
  flex: 1; /* Ocupa el espacio sobrante entre header y footer */
  display: flex; /* Se convierte en contenedor flexible */
  flex-direction: column; /* Organiza los hijos en columna */
  width: 100%; /* Ancho total */
}

/* =========================================
   TEMA DE COLORES (Variables CSS)
   ========================================= */
:root {
  /* --- MODO CLARO (Por defecto) --- */
  --primary-color: #d48300;
  --primary-hover: #b06d00;

  --bg-body: #f4f6f8; /* Fondo general */
  --bg-card: #ffffff; /* Fondo de tarjetas/contenedores */
  --bg-input: #ffffff; /* Fondo de inputs */

  --text-main: #333333; /* Texto principal */
  --text-secondary: #666666; /* Texto secundario/descripciones */
  --text-inverse: #ffffff; /* Texto sobre botones oscuros */

  --border-color: #e0e0e0; /* Bordes suaves */
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* --- MODO OSCURO (Se activa con la clase .dark-mode) --- */
body.dark-mode {
  /* El naranja se mantiene o se hace un poco m치s brillante para contrastar */
  --primary-color: #eba933;
  --primary-hover: #ffbf4d;

  --bg-body: #121212; /* Negro suave */
  --bg-card: #1e1e1e; /* Gris oscuro para tarjetas */
  --bg-input: #2c2c2c; /* Inputs un poco m치s claros */

  --text-main: #e0e0e0; /* Blanco hueso */
  --text-secondary: #aaaaaa; /* Gris claro */
  --text-inverse: #121212; /* Texto negro sobre botones brillantes */

  --border-color: #333333;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra m치s fuerte */
}

/* APLICAMOS LOS COLORES GLOBALES */
body {
  background-color: var(--bg-body);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s; /* Transici칩n suave */
}
