<div class="carousel-container">
    <h1>Destacados</h1>
  <div class="carousel-slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentIndex">
    
    <!-- Imagen -->
    <img [src]="slide.img" class="slide-img" alt="{{ slide.title }}">

    <!-- Texto asociado -->
    <div class="slide-text">
      <h2>{{ slide.title }}</h2>
      <p class="date">{{ slide.date }}</p>
      <p class="desc">{{ slide.desc }}</p>
    </div>

  </div>

  <!-- Flechas -->
  <button class="arrow left" (click)="prevSlide()">&#10094;</button>
  <button class="arrow right" (click)="nextSlide()">&#10095;</button>
</div>