
.footer {
  background-color: #7b3307;
  padding: 40px 80px;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-contacto {
  flex: 1;
  min-width: 250px;
}

.footer-contacto h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-contacto p {
  margin-bottom: 15px;
}

.footer-enlaces {
  flex: 2;
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}

.footer-enlaces div {
  display: flex;
  flex-direction: column;   
}

.footer-enlaces h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footer-enlaces a {
  text-decoration: none;
  color: #fefefe;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

.footer-redes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-redes h3 {
  font-size: 16px;
  font-weight: bold;
}

.footer-redes .iconos i {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer-redes .iconos i:hover {
  transform: scale(1.2);
}